@{
    ViewData["Title"] = "The Flavour Frenzy Range";
}
<style>
    .grid-container{
        display: inline-grid;
        width:100%;
		grid-template-columns: auto;
        grid-auto-flow: column;
    }
    .item{
        border-style: outset;
        border-color:cadetblue;
        border-width:thick;
        padding:5px;
        margin: 10px;
    }
    
</style>
<div>
    <h1>@ViewData["Title"]</h1>
    <div>
     <h1> Bites Range</h1>
        <div class="grid-container">
            <!--Bites 1-->
			<br /> <div class="grid-item item">
			<img src="~/images/bites_broccoli.jpg" style="height:220px" />
             <h2>Broccoli Bites</h2> <br />
		    <p> Store Availablility:</p>
            <b> Manukau - Out of Stock</b><br />
		    <b>Kumeu - In stock</b> <br />
            <b>Newmarket - In Stock</b> <br />
            <b>Ponsonby - Out of Stock</b> 
		    </div>
            <!--Bites 2-->
			<div class="grid-item item">
                <img src="~/images/bites_cheese.png" style="height:220px"  />
                <h2>Cheese Bites</h2> <br />
                <p> Store Availablility:</p>
                <b> Manukau - Out of Stock</b><br />
                <b>Kumeu - In stock</b> <br />
                <b>Newmarket - In Stock</b> <br />
                <b>Ponsonby - Out of Stock</b> <br />
            </div>
            <!--Bites 3-->
			<div class="grid-item item">
                <img src="~/images/bites_chicken.jpeg" style="height:220px" />
                <h2>Chicken Bites</h2> <br />
                <p> Store Availablility:</p>
                <b> Manukau - Out of Stock</b><br />
                <b>Kumeu - In stock</b> <br />
                <b>Newmarket - In Stock</b> <br />
                <b>Ponsonby - Out of Stock</b> <br />
            </div>
		</div>
	</div>
    <!--Patties Range-->
    <div>
        <h1> Patties </h1>
        <div class="grid-container">
            <!--Beef Burger 1-->
			<br /> <div class="grid-item item">
				<img src="~/images/burger_beef.png" style="height:220px" />
                <h2>Quarter Pounder</h2> <br />
                <p> Store Availablility:</p>
                <b> Manukau - Out of Stock</b><br />
                <b>Kumeu - In stock</b> <br />
                <b>Newmarket - In Stock</b> <br />
                <b>Ponsonby - Out of Stock</b>
            </div>
            <!--Bites 2-->
			<div class="grid-item item">
				<img src="~/images/burger_chicken.png" style="height:220px" />
                <h2>Southern Style Chicken Pattie</h2> <br />
                <p> Store Availablility:</p>
                <b> Manukau - Out of Stock</b><br />
                <b>Kumeu - In stock</b> <br />
                <b>Newmarket - In Stock</b> <br />
                <b>Ponsonby - Out of Stock</b> <br />
            </div>
        </div>
    </div>

    <!--Toppas Range-->
    <div>
        <h1> Toppas</h1>
        <div class="grid-container">
            <!--Bites 1-->
			<br /> <div class="grid-item item">
				<img src="~/images/t_baconcheese.jpg" style="height:220px" />
                <h2>Bacon & Cheese Toppa</h2> <br />
                <p> Store Availablility:</p>
                <b> Manukau - Out of Stock</b><br />
                <b>Kumeu - In stock</b> <br />
                <b>Newmarket - In Stock</b> <br />
                <b>Ponsonby - Out of Stock</b>
            </div>
            <!--Bites 2-->
			<div class="grid-item item">
				<img src="~/images/t_chicken_cb.jpg" style="height:220px" />
                <h2>Chicken Cordon Bleu</h2> <br />
                <p> Store Availablility:</p>
                <b> Manukau - Out of Stock</b><br />
                <b>Kumeu - In stock</b> <br />
                <b>Newmarket - In Stock</b> <br />
                <b>Ponsonby - Out of Stock</b> <br />
            </div>
            <!--Bites 3-->
			<div class="grid-item item">
				<img src="~/images/t_lasagne.jpg" style="height:220px" />
                <h2>Lasagne Toppa</h2> <br />
                <p> Store Availablility:</p>
                <b> Manukau - Out of Stock</b><br />
                <b>Kumeu - In stock</b> <br />
                <b>Newmarket - In Stock</b> <br />
                <b>Ponsonby - Out of Stock</b> <br />
            </div>
        </div>
    </div>
</div>
